<header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">PG Finder</h1>
          <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Need a place for rent ?</h2>
          <form action="/search" method="post">
          	<div class="form-group">
          		<input type="text" name="search" placeholder="Enter Location..." class="form-control">
          	</div>
          		<button type="button" class="btn btn-primary mx-auto">Search</button>
          </form> -->
        </div>
      </div>
    </header

    